isite_name: SpatialCompassV(SCOMV)
site_description: SpatialCompassV(SCOMV)
site_author: Ryosuke Nomura

theme:
  name: material
  language: en
  features:
    - navigation.expand
    - navigation.sections
    - navigation.instant
  palette:
    - scheme: slate
      primary: indigo
      accent: cyan

extra_css:
  - stylesheets/extra.css


nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md

